


/* body{
    background-color: #2d2d33;
    color: white;
} */

/* #settings-header{
    background: rgb(82,80,128);
    background: linear-gradient(0deg, rgba(82,80,128,1) 0%, rgba(72,72,89,1) 14%, rgba(45,45,51,1) 70%);
} */

#settings-header{
    margin-bottom: 4pt;
}

.margin2ptvertical{
    margin-top: 2pt;
    margin-bottom: 2pt;
}






/* ++++++++++++++++++++++++++++++++++++++++++ */
/* everything below is for debug purpose only */
.log{
    font-size: small;
    color: gray;
}

.logInfo{
    color: #2fafaf;
}

.logWarning{
    color: orange;
}

.logError{
    color: tomato;
}